{% include 'header.html.twig' %}

{#
{{ dump(gitar) }}
#}

<div class="container mt-5 d-flex justify-content-center">
	<div class="col-sm-6">
		<h1 class="display-5 text-center mb-2">
			Felhasználó módosítás</h1>
		<form action="/guitarEdit" method="POST">
			<input type="hidden" value="{{ gitar.id }}" name="id">
			<div class="form-group">
				<label for="gyarto">Gyártó*</label>
				<input type="text" class="form-control" name="gyarto" id="gyarto" value="{{gitar.gyarto}}" required>
			</div>
			<div class="form-group">
				<label for="tipus">Típus*</label>
				<input type="text" class="form-control" name="tipus" id="tipus" value="{{gitar.tipus}}" required>
			</div>
			<div class="form-group">
				<label for="kategoria_id">Kategória*</label>
				<select class="form-select" name="kategoria_id" id="kategoria_id">
					{% for gitarKategoria in gitarKategoriak %}
						<option value="{{gitarKategoria.id}}" {{gitar.id == gitarok.id ? 'selected' : ''}}>{{gitarKategoria.nev}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<label for="hurok_szama">Húrok száma*</label>
				<input type="text" class="form-control" name="hurok_szama" id="hurok_szama" value="{{gitar.hurok_szama}}" required>
			</div>
			<div class="form-group">
				<label for="ar">Ár*</label>
				<input type="text" class="form-control" name="ar" id="ar" value="{{gitar.ar}}" required>
			</div>
			<div class="form-group">
				<label for="raktar_mennyiseg">Mennyiség*</label>
				<input type="raktar_mennyiseg" class="form-control" name="raktar_mennyiseg" id="raktar_mennyiseg" value="{{gitar.raktar_mennyiseg}}" required>
			</div>
			<div class="form-check mt-3">
				<input type="checkbox" name="allapot" id="allapot" {{ gitar.allapot ? 'checked':''}}>
				<label for="allapot">Aktív</label>
			</div>
			<div class="form-group mt-3 justify-content-between d-flex">
				<a href="javascript:history.go(-1)" class="btn btn-warning">
					<i class="fa-solid fa-arrow-left"></i>
					VISSZA
				</a>
				<button type="submit" class="btn btn-success text-white" name="update">
					<i class="fa-solid fa-floppy-disk"></i>
					MÓDOSÍT
				</button>
			</div>
		</form>
	</div>

</div>

{% include 'footer.html.twig' %}
